<!-- app/views/entries/index.html.erb -->
<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-sm-6 col-md-3">
      <h4>
        <%# Display user who created the entry %>
        <% if entry.user.present? %>
          <%= entry.user.email %>
        <% else %>
          Anonymous
        <% end %>
      </h4>
      
      <%# Check if an image is attached to the entry %>
      <% if entry.uploaded_file.attached? %>
        <img src="<%= url_for(entry.uploaded_file) %>" class="img-fluid">
      <% else %>
        No image attached.
      <% end %>

      <!-- Additional content -->
      <p><%= entry.description %></p>
    </div>
  <% end %>
</div>
