<!-- app/views/places/index.html.erb -->
<h1>All Places</h1>

<% @places.each do |place| %>
  <div>
    <%= link_to place_path(place) do %>
      <h2><%= place.name %></h2>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <p>
    <%= link_to "New Place", new_place_path %>
  </p>
<% end %>
