<!DOCTYPE html>
<html>
<head>
  <title>Your App</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Your head content here -->
</head>

<body>
  <!-- Include the navbar -->
  <%= render 'layouts/navbar' %>

  <!-- Main content -->
  <div class="container">
    <!-- Render flash messages if any -->
    <%= render 'layouts/flash_messages' %>

    <!-- Yield the main content -->
    <%= yield %>
  </div>
</body>
</html>
